div.logos{
        display: flex !important;
        margin-top: 20px;
        color: hsl(0, 0%, 96%);
        width: 100%;
        padding-top: 25px;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
}
