/* *{
    margin :0 ;
    padding: 0;
    box-sizing: border-box;
} */
.body{
    background-color: rgba(255,255,255,0.75) !important ;
}
#graph2{
    background-color: none;
    position: relative;
    left: 25px ;
    font: 25px bold 'Times New Roman', Times, serif;
    height: auto;
    width: 750px ;
    border: none ;

}
svg {
    vertical-align: middle;
    width: 75% !important;
}
.Mesures {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    row-gap: 15px;
}
.Mesures>img{
    background-image: none !important;
    width : 200px;
    vertical-align: middle;
    margin: 15px 100px 15px 100px;
    border-radius: 100%;
}
footer img{
    width: 250px ;
}
.carousel-item img {
    object-fit: cover;
    object-position: 50% 50%;
}
.mb-5 {
    margin-bottom: 5px!important;
}

.Authordiscription{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    column-gap: 15px;
    margin: auto;
}
.autherlink{
    font-family:'Times New Roman', Times, serif;
    font-size : 16px;
    float: inline-end;
    font-weight: bold;
    margin: 0 ;
    padding: 0 ;
}
.Authorlink{
    display: flex;
    justify-content: center;
}
#sectionh1 >h1{
    font-weight: bold;
    font-size: 15px !important;
    font-family:Arial, Helvetica, sans-serif;
    margin : 0;
    text-transform: none !important;
    color: rgb(239, 209, 231);
}
.js-plotly-plot .plotly svg {
    overflow: visible !important;
}
.card {
    position: relative;
    max-width: fit-content;
    width: 350px;
    margin: 15px !important;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(229, 199, 229, 0.845);
    border-radius: 2rem !important;
    flex-wrap: wrap;
    column-gap: 15px !important;
}
div.CoronaIndex{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;

}
#sectionh2> h1{
    font-weight: bold;
    font-size: 15px !important;
    font-family:Arial, Helvetica, sans-serif;
    margin : 0;
    text-transform: capitalize !important;
    color: rgb(239, 209, 231);
}
/* .Authordiscription >h2{
    margin : 0;
    padding : 0 ;
    font-weight: lighter;
    color :gray !important ;
    font-size: 12px ! important;
    text-transform: capitalize !important;


} */
:root {
    --bs-blue: #3a8fd9;
    --bs-indigo: #6610f2;
    --bs-purple: #686dc3;
    --bs-pink: #e83283;
    --bs-red: #fc346f;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #41d7a7;
    --bs-teal: #528fb3;
    --bs-cyan: #39cbfb;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9e9e8;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #e83283;
    --bs-secondary: rgba(255, 255, 255, 0.4);
    --bs-success: #41d7a7;
    --bs-info: #39cbfb;
    --bs-warning: #ffc107;
    --bs-danger: #fd7e14;
    --bs-light: #e9e9e8;
    --bs-dark: #212529;
    --bs-primary-rgb: 232,50,131;
    --bs-secondary-rgb: 255,255,255;
    --bs-success-rgb: 65,215,167;
    --bs-info-rgb: 57,203,251;
    --bs-warning-rgb: 255,193,7;
    --bs-danger-rgb: 253,126,20;
    --bs-light-rgb: 233,233,232;
    --bs-dark-rgb: 33,37,41;
    --bs-white-rgb: 255,255,255;
    --bs-black-rgb: 0,0,0;
    --bs-body-color-rgb: 255,255,255;
    --bs-body-bg-rgb: 104,109,195;
    --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
    --bs-body-font-family: var(--bs-font-sans-serif);
    --bs-body-font-size: 1rem;
    --bs-body-font-weight: 400;
    --bs-body-line-height: 1.5;
    --bs-body-color: #fff;
}
div.Yess{
    display :flex;
    flex-direction: row;
}
div.RowRIEN{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
.main-svg{
    background: none !important;
}

div.container > div.ROW1{
    display: flex !important;
    flex-wrap: nowrap !important;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;

}
.BtnNews{
    border-radius: 25px;
    color: #dee2e6;
    background-color: lightpink;
    border: none;
    display: inline-block;
    align-items: center;
    width: 100%;
    padding: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    size: a4;
}
div.RowNews{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    border-radius: 50%;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    margin: 5px;
    color: white;
    padding: 15px;
    text-align: justify;
}
.NOWYUSEEME{
    border-radius: 50% !important;
    width: 160px;
    height: auto;
    margin-left: 15%;
    display: block;
    margin-top: 15px;

}
.h1, h1{
    font-family: Arial, Helvetica, sans-serif !important;
    font-size: 25px;
    margin-bottom: 5px !important;
    font-weight: bolder !important;
    text-align: center !important;
    text-transform: capitalize !important;
}
.card {
    position: relative;
    max-width: fit-content;
    width: 350px;
    margin: 15px !important;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    border: 1px solid rgba(0,43,54,.95);
    border-radius: 0.25rem;
    flex-wrap: wrap;
    column-gap: 15px !important;
}
.RowActivity {
    display: flex !important;
    flex-direction:  row !important;
    row-gap: 25px !important;
    justify-content: center;
    margin: 5px;
}
footer{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    padding-left: 15px;
    z-index: 99999999999999999999999;
}
div.mapAreaRow{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
div.INDEXES{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    align-items: center;
    column-gap: 22px;
}
.app-footer img{
    width: 250px;
    margin :0 15px 0 15px;
    right : 0;
    float: right;
}
.app-footer p{
    float: left;
    font-weight: bolder;
    color: antiquewhite;
}
.row{
--bs-gutter-x: 1.5rem;
--bs-gutter-y: 0;
display: flex;
-ms-flex-wrap: wrap;
flex-wrap: wrap;
margin-top: calc(-1 * var(--bs-gutter-y));
margin-right: calc(-.5 * var(--bs-gutter-x));
margin-left: calc(-.5 * var(--bs-gutter-x));
flex-direction: column;
column-gap: 5px;
}
hr{
    border: solid 1px;
    color : whitesmoke ;
    margin : auto ;
    padding: 0;
    height : 5px;
    width: 50%;
    text-align: center;

}
.carousel-item {
    position: relative;
    margin-bottom: 5px;
    height: 350px;
    width: 100%;
    margin-right: -100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: -webkit-transform .6s ease-in-out;
    transition: transform .6s ease-in-out;
    transition: transform .6s ease-in-out,-webkit-transform .6s ease-in-out;
}

.carousel-item img {
    object-fit: fill;
    object-position: top center;
    max-height: 350px;
}
img.ContactImg{
    background-image: none !important;
    width : 200px;
    vertical-align: middle;
    margin: 15px 100px 15px 100px;
    border-radius: 100%;
}
div.ContainerContact{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
h1.textelementContact{
    font-family: sans-serif;
    font-weight: bolder;
    font-size: larger;
    text-align: center;
}
div.messageContainer{
    width : 75% ;
    margin-top : 25px;
}
button.btn15{
    margin-top: 10px;
    display: block;
    width: 100%;
    background: linear-gradient(153deg,#e66465, #9198e5, #e83283, #a171a1,#fff,#dc749e);}
div.grid-parent{
    display :grid;
    grid-auto-flow: column dense;
    margin-top: 30px;
    margin-bottom: 15px;
}
body{
    overflow-x: hidden !important;
    margin:0;
}
div.dash-graph {
    /* padding: 25px; */
    max-width: 40vw;
    z-index: 999;
}
div.grid-parent p{
    max-width: 30vw !important;
}
div.Graph > div.dash-graph{
    max-width : 100vw !important;
}
div.mapcontainer{
    width :100%;
    height :100% ;
}
#map{
    width: 90vw;
    /* padding-left : 25px; */
    height: 100vw;
    /* overflow-x: hidden; */
}